/* Master font*/
body{
    margin: 0px;
    background-color: #41F9F8;
}
/* navbar font*/
.nav-bar{
    display: flex;
    justify-content: space-between;
    padding:20px;
    background-color:#4186F9;
}
.left-side{
    display: flex;
}
.nav-bar > .left-side > div{
    margin-right:20px ;
    font-size: medium;
    text-transform: uppercase;

}
.link-wrapper{
    height: 20px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}
.nav-bar a{
    text-decoration: none;
    color:white;
    transition: color 0.5s;
}
.link-wrapper :hover{

    border-bottom: 1px solid black;
    color:black;
}
/* port folio font*/
.portfolio-items-wrapper{
    display: grid;
   grid-template-columns: 1fr 1fr 1fr;
}
.portfolio-item-wrapper{
    position: relative;
}

.portfolio-img-background{
    height:300px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.imgtextwrapper{
    position: absolute;
    top:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}
.logowrapper img{
    width: 50%;
    margin-bottom: 20px;
    align-items: center;
}
.imgtextwrapper .subtitle{
    transition: 1s;
    color:transparent;
    font-weight: 600;
}
.imgtextwrapper:hover .subtitle{
    color:lightseagreen;
    font-weight: 600;
}
.imgdarken{
    transition: 1s;
    filter: brightness(30%);
}
.name{
    color:white;
    
}
h1{
    text-transform: uppercase;
}
